<div class="painel-container">

  <!-- CARDS DE MÉTRICAS -->
  <div class="cards-metricas">
    <div class="card-metrica">
      <span>Total</span>
      <strong>{{ total }}</strong>
    </div>
    <div class="card-metrica pendente">
      <span>Pendentes</span>
      <strong>{{ pendentes }}</strong>
      <small>{{ porcentagemPendentes }}%</small>
    </div>
    <div class="card-metrica execucao">
      <span>Em Execução</span>
      <strong>{{ emExecucao }}</strong>
      <small>{{ porcentagemExecucao }}%</small>
    </div>
    <div class="card-metrica concluido">
      <span>Concluídos</span>
      <strong>{{ concluidos }}</strong>
      <small>{{ porcentagemConcluidos }}%</small>
    </div>
  </div>

  <!-- FILTROS -->
  <div class="top-bar">
    <div class="filtros">
      <button
        (click)="setFiltro('entrada')"
        [class.active]="filtro === 'entrada'">
        📥 Caixa de Entrada
      </button>
      <button
        (click)="setFiltro('meus')"
        [class.active]="filtro === 'meus'">
        👤 Meus Chamados
      </button>
      <button
        (click)="setFiltro('todos')"
        [class.active]="filtro === 'todos'">
        🏢 Todos do Setor
      </button>
    </div>

    <button class="btn-exportar" (click)="exportarCSV()">⬇ Baixar</button>
  </div>

  <p *ngIf="carregando">Carregando chamados do setor...</p>

  <!-- LISTA -->
  <div *ngIf="!carregando" class="lista">

    <div class="lista-header">
  <span class="col-header" (click)="ordenarPor('protocolo')">
    Nº <span *ngIf="ordemCampo==='protocolo'">{{ordemDirecao===1?'▲':'▼'}}</span>
  </span>
  <span class="col-header" (click)="ordenarPor('status')">
    Status <span *ngIf="ordemCampo==='status'">{{ordemDirecao===1?'▲':'▼'}}</span>
  </span>
  <span class="col-header" (click)="ordenarPor('instituicao')">
    Instituição <span *ngIf="ordemCampo==='instituicao'">{{ordemDirecao===1?'▲':'▼'}}</span>
  </span>
  <span class="col-header" (click)="ordenarPor('setor_destino')">
    Setor <span *ngIf="ordemCampo==='setor_destino'">{{ordemDirecao===1?'▲':'▼'}}</span>
  </span>
  <span class="col-header" (click)="ordenarPor('categoria')">
    Categoria <span *ngIf="ordemCampo==='categoria'">{{ordemDirecao===1?'▲':'▼'}}</span>
  </span>
  <span class="col-header" (click)="ordenarPor('data_criacao')">
    Data <span *ngIf="ordemCampo==='data_criacao'">{{ordemDirecao===1?'▲':'▼'}}</span>
  </span>
</div>

    <div
      class="linha"
      *ngFor="let c of chamadosFiltrados"
      (click)="abrirDetalhe(c.id)"
      style="cursor: pointer;">
      <span>{{ c.protocolo }}</span>
      <span class="status" [ngClass]="getStatusClass(c.status)">{{ c.status }}</span>
      <span>{{ c.instituicao }}</span>
      <span>{{ c.setor_destino }}</span>
      <span>{{ c.categoria }}</span>
      <span>{{ c.data_criacao }}</span>
    </div>

    <p *ngIf="chamadosFiltrados.length === 0">
      Nenhum chamado encontrado.
    </p>

  </div>

</div>