.sidebar {
  width: 240px;
  background-color: #1e1e2f;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
   height: calc(100vh - 60px);
}

.sidebar h1 {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar a {
  color: #cfcfe6;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: background 0.3s, color 0.3s;
}

.sidebar a:hover {
  background-color: #2f2f45;
  color: #fff;
}

.sidebar a.active {
  background-color: #4c6fff;
  color: #fff;
}
